<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <header>
      <h1><%= mainHeading %></h1>
      <a class="button" href="/" target="_self">Back to Home</a>
    </header>
    <%- include ('./partials/footer') -%>
  </body>
</html>
