<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <header>
      <h1><%= mainHeading %></h1>
    </header>
    <div id="app"></div>
    <%- include ('./partials/footer') -%>
    <script src="public/bundle.js"></script>
  </body>
</html>
