// STYLES FOR PAGE'S MAIN CONTENT

// Button styles
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: change-color($teal, $lightness: 30%);
  border: 0;
  border-radius: 20px;
  color: change-color($black, $lightness: 100%);
  cursor: pointer;
  font-weight: 600;
  line-height: normal;
  padding: 10px 14px;
  text-decoration: none;
  &:hover {
    background: $teal;
  }
}

// Quote container styles
.quote-container {
  background: change-color($teal, $lightness: 86%);
  background: -webkit-gradient(linear, left top, left bottom, from(change-color($teal, $lightness: 86%)), to(change-color($teal, $lightness: 95%))) fixed;
  background: -o-linear-gradient(change-color($teal, $lightness: 86%), change-color($teal, $lightness: 95%)) fixed;
  background: linear-gradient(change-color($teal, $lightness: 86%), change-color($teal, $lightness: 95%)) fixed;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 700px;
  padding: 20px;
  .quote,
  .quote q {
    color: $teal;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.48;
    quotes: none;
    &:before,
    &:after {
      content: none;
    }
  }
  .source {
    color: $teal;
    font-style: italic;
    line-height: 1.3;
    margin-top: 5%;
  }
}

// Loading spinner styles
.loading-spinner {
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
  border: 4px solid $teal;
  border-top: 4px solid transparent;
  border-radius: 50%;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}