@import "variables";

// BASE PAGE STYLES

html {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: change-color($black, $lightness: 20%);
  height: 100%;
  letter-spacing: 1px;
  text-align: center;
  body {
    background: change-color($black, $lightness: 100%);
    background: -o-linear-gradient(330deg, rgba(change-color($teal, $lightness: 86%), 0.2), change-color($black, $lightness: 100%)) fixed;
    background: linear-gradient(120deg, rgba(change-color($teal, $lightness: 86%), 0.2), change-color($black, $lightness: 100%)) fixed;
    min-height: 100%;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    padding: 0 20px;
    position: relative;
    header {
      padding-top: 6%;
    }
    main {
      padding-bottom: 6rem;
    }
    footer {
      background: change-color($teal, $lightness: 86%);
      background: -webkit-gradient(linear, left top, right top, from(change-color($teal, $lightness: 86%)), to(change-color($teal, $lightness: 95%))) fixed;
      background: -o-linear-gradient(left, change-color($teal, $lightness: 86%), change-color($teal, $lightness: 95%)) fixed;
      background: linear-gradient(to right, change-color($teal, $lightness: 86%), change-color($teal, $lightness: 95%)) fixed;
      bottom: 0;
      font-size: 0.8rem;
      left: 0;
      letter-spacing: 2px;
      padding: 14px 0;
      position: absolute;
      right: 0;
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 0;
    }
  }
}

// BASE ELEMENT STYLES

div,
header,
main,
footer,
p,
button,
button:hover,
button:active,
button:focus {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: $teal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: change-color($teal, $lightness: 30%);
  border: 0;
  border-radius: 20px;
  color: change-color($black, $lightness: 100%);
  cursor: pointer;
  font-weight: 600;
  line-height: normal;
  padding: 10px 14px;
  width: auto;
  &:hover {
    background: $teal;
    text-decoration: none;
  }
}

.message {
  border-radius: 5px;
  line-height: 1.55;
  margin: 20px auto;
  max-width: 800px;
  padding: 15px 10px;
}

// SPECIFIC ELEMENT STYLES

h1 {
  color: $teal;
  font-family: $heading-font;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 1.45;
}

.quote-container {
  background: change-color($teal, $lightness: 86%);
  background: -webkit-gradient(linear, left top, left bottom, from(change-color($teal, $lightness: 86%)), to(change-color($teal, $lightness: 95%))) fixed;
  background: -o-linear-gradient(change-color($teal, $lightness: 86%), change-color($teal, $lightness: 95%)) fixed;
  background: linear-gradient(change-color($teal, $lightness: 86%), change-color($teal, $lightness: 95%)) fixed;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 700px;
  padding: 20px;
  .quote,
  .quote q {
    color: $teal;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.48;
    quotes: none;
    &:before,
    &:after {
      content: none;
    }
  }
  .source {
    color: $teal;
    font-style: italic;
    line-height: 1.3;
    margin-top: 5%;
  }
  .tweet-container {
    margin-top: 8%;
    text-align: right;
    .tweet,
    .tweet:visited,
    .tweet:hover,
    .tweet:active,
    .tweet:focus {
      background: $tweet-blue;
      border-radius: 4px;
      color: change-color($black, $lightness: 100%);
      font-family: "Helvetica Neue", sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0;
      padding: 8px 10px;
      &:hover {
        background: $tweet-blue-hover;
      }
    }
  }
}

.error-message {
  background: change-color($error-red, $lightness: 95%);
  border: 1px solid change-color($error-red, $lightness: 90%);
  color: $error-red;
}

.info-message {
  background: change-color($info-blue, $lightness: 95%);
  border: 1px solid change-color($info-blue, $lightness: 90%);
  color: $info-blue;
}

noscript .info-message {
  left: 50%;
  margin: 0 auto;
  min-width: 280px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
