@import 'reset';

$dark-green: #0b6b74;
$med-green: #0e818b;
$med-light-green: #bef5fa;
$light-green: #e7fbfd;
$white: #fff;

*:focus {
  box-shadow: 0 0 4px 4px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: $white;
  background: linear-gradient(120deg, rgba(190, 245, 250, 0.2), $white) fixed;
  h1 {
    color: $dark-green;
    font-family: Calligraffitti, cursive;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 4px;
    padding-top: 6%;
    padding-bottom: 2%;
  }
  main {
    padding-bottom: 60px;
    .card {
      background: $med-light-green;
      background: linear-gradient($med-light-green, $light-green) fixed;
      border-radius: 5px;
      margin: 20px auto;
      max-width: 700px;
      padding: 20px;
      .quote,
      q {
        color: $dark-green;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 26px;
      }
      .source {
        color: $dark-green;
        font-style: italic;
        line-height: 20px;
        margin-top: 5%;
      }
      .tweet-button {
        margin-top: 8%;
        text-align: right;
        .tweet,
        .tweet:visited,
        .tweet:active,
        .tweet:focus {
          background: $med-green;
          border-radius: 20px;
          color: $white;
          font-size: 0.8rem;
          padding: 8px 10px;
          &:hover {
            background: $dark-green;
            text-decoration: none;
          }
        }
      }
    }
    .new-quote,
    .new-quote:active,
    .new-quote:focus {
      background: $med-green;
      border-radius: 100%;
      color: $white;
      margin-bottom: 5%;
      padding: 14px;
      &:hover {
        background: $dark-green;
      }
    }
  }
  footer {
    background: $med-light-green;
    background: linear-gradient(to right, $med-light-green, $light-green) fixed;
    bottom: 0;
    font-size: 0.8rem;
    left: 0;
    letter-spacing: 2px;
    padding: 14px 0;
    position: absolute;
    right: 0;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: $dark-green;
    }
  }
}
