$dark-green: #0b6b74;
$med-green: #0e818b;
$med-light-green: #bef5fa;
$light-green: #e7fbfd;
$white: #fff;
$dark-gray: #333;
$main-font: Helvetica, Arial, sans-serif;
$heading-font: Calligraffitti, cursive;
